{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/fav.png">
    <meta charset="UTF-8">
    <title>Karma Shoe Store | Seasonal Sale</title>

    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <a class="navbar-brand logo_h" href="/"><img src="/static/img/logo.png" alt="Karma Shoes"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user_reg">user</a></li>
                            <li class="nav-item"><a class="nav-link" href="/seller_reg">Seller</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">login</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="active-banner-slider owl-carousel">
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <h1 style="color: #ffba00;">UP TO 50% OFF <br>Season End Sale</h1>
                                    <p>Our biggest clearance event of the year. Grab your favorite sneakers at half the price before stocks run out!</p>
                                    <div class="add-bag d-flex align-items-center">
                                        <a class="add-btn" href="/shop"><span class="lnr lnr-tag"></span></a>
                                        <span class="add-text text-uppercase">Shop the Sale</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img class="img-fluid" src="/static/img/banner/banner-img.png" alt="Sale Banner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="exclusive-deal-area section_gap" style="background: #f9f9ff;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 text-center">
                    <div class="exclusive-content">
                        <h2 style="font-size: 3rem; font-weight: 700;">FLASH DEAL</h2>
                        <h3 class="mb-20">Extra 20% Discount for New Members</h3>
                        <p>Use Code: <strong>KARMA20</strong> at checkout. Limited time offer for the first 500 customers.</p>
                        <a href="/login" class="primary-btn">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="active-product-area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Drops</h1>
                        <p>The newest additions to the Karma collection. Fresh styles, limited quantities.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="/static/img/product/p1.jpg" alt="">
                        <div class="product-details">
                            <h6>Alpha-Bounce v2 <br><small>Just Arrived</small></h6>
                            <div class="price">
                                <h6>$160.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info"><span class="ti-bag"></span><p class="hover-text">Add to Cart</p></a>
                                <a href="" class="social-info"><span class="lnr lnr-move"></span><p class="hover-text">View</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="/static/img/product/p2.jpg" alt="">
                        <div class="product-details">
                            <h6>Retro High OG <br><small>Limited Edition</small></h6>
                            <div class="price">
                                <h6>$195.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info"><span class="ti-bag"></span><p class="hover-text">Add to Cart</p></a>
                                <a href="" class="social-info"><span class="lnr lnr-move"></span><p class="hover-text">View</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="/static/img/product/p3.jpg" alt="">
                        <div class="product-details">
                            <h6>Cloud Runner Pro <br><small>Eco-Friendly</small></h6>
                            <div class="price">
                                <h6>$130.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info"><span class="ti-bag"></span><p class="hover-text">Add to Cart</p></a>
                                <a href="" class="social-info"><span class="lnr lnr-move"></span><p class="hover-text">View</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="/static/img/product/p4.jpg" alt="">
                        <div class="product-details">
                            <h6>Desert Storm Boot <br><small>New Season</small></h6>
                            <div class="price">
                                <h6>$210.00</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="" class="social-info"><span class="ti-bag"></span><p class="hover-text">Add to Cart</p></a>
                                <a href="" class="social-info"><span class="lnr lnr-move"></span><p class="hover-text">View</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Karma Store</h6>
                        <p>Premium footwear for the modern collector. Authenticity guaranteed on every pair.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Sale Alerts</h6>
                        <p>Subscribe to get notified about flash sales and new drops.</p>
                        <form class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Email Address" type="email" required>
                            <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Social</h6>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">Copyright &copy; 2024 Karma Shop</p>
            </div>
        </div>
    </footer>

    <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>